<footer id="footer">
  <div class="footer-left">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %> 
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= i %></a></li>
        <% } %>
      </ul>
    </nav>
    Original theme <a href="https://github.com/probberechts/cactus-dark" target="_blank">cactus-dark</a> by probberechts
    <br>
    Website logo taken from <a href="http://www.freepik.com/free-vector/sketchy-feathers-pack_759744.htm" target="_blank">Freepik</a>
  </div>
</footer>
