#footer
  padding-top: 10px
  padding-bottom: 10px
  color: #666
  font-size: 11px
  max-width: 700px
  width: 100%
  margin: 0 auto 1rem auto
  vertical-align: top
  text-align: center
  ul
    margin: 0
    padding: 0
    list-style: none
  li
    display: inline-block
    vertical-align: middle
    margin-right: 15px
    border-right: 1px solid #4a4a4a
    a
      margin-right: 15px
  li:last-child
    border-right: 0
    margin-right: 0
    a
      margin-right: 0
  a
    color: #666
  a:hover
    color: #999
  .footer-left
    height: 20px
    line-height: 20px
    vertical-align: middle

@media (min-width: 39rem)
  #footer
    padding-top: 20px
    padding-bottom: 20px
    /*
    *disables footer floating left
    *.footer-left
    *  float: left
    */
    .footer-right
      float: right


